.search_box {
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #41414115;

    cursor: pointer;

    &:hover {
      background: #00000018;
    }
    img {
      height: 100%;
      width: 25px;
    }
  }
}
